<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "pg_hero/application" %>
    <%= javascript_include_tag "pg_hero/application" %>
    <title><%= [@databases.size > 1 ? PgHero.current_database.titleize : "PgHero", @title].compact.join(" / ") %></title>

    <meta charset="utf-8" />
  </head>
  <body class="grey lighten-2">
    <%= render "pg_hero/layout/header" %>
    <%= render "pg_hero/layout/aside" %>

    <div id="main" class="grey lighten-3">

      <div id="info-box" class="white">        
        <p class="left">Mensajes de ayuda al usuario.</p>
        <a href="#!" data-activates="slide-out-right" class="button-collapse-right right">Tools<i class="mdi-hardware-keyboard-arrow-left left"></i></a>        
      </div>

      <div class="content">
         <%= yield %> 
      </div> 

    </div>
    <%= render "pg_hero/layout/filters" %>
  </body>
</html>
