<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "pg_hero/application" %>
    <%= javascript_include_tag "pg_hero/application" %>
    <title><%= [@databases.size > 1 ? PgHero.current_database.titleize : "PgHero", @title].compact.join(" / ") %></title>

    <meta charset="utf-8" />
  </head>
  <body class="grey lighten-2">
    <%= render "pg_hero/layout/header" %>
    <%= render "pg_hero/layout/aside" %>

    <div id="main" class="grey lighten-3">

      <div id="info-box" class="white">        
        <p class="left">Mensajes de ayuda al usuario.</p>
        <a href="#!" data-activates="slide-out-right" class="button-collapse-right right">Tools<i class="mdi-hardware-keyboard-arrow-left left"></i></a>        
      </div>

      <div class="content">  
        <div class="row">
          <div class="alerts-box owl-carousel">  

            <div class="item card red darken-1">
              <div class="card-content white-text">
                <span class="card-title">Error</span>
                <p>db: banking1_pro</p>
                <p>Problem detected in database</p>
              </div>
              <div class="card-action">
                <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
                <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
              </div>  </div>

              <div class="item card orange darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Warning</span>
                  <p>db: health2_pre</p>
                  <p>Space running low - tablespace</p>
                </div>
                <div class="card-action">
                  <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
                  <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
                </div>  </div>

                <div class="item card orange darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Warning</span>
                    <p>db: health3_pre</p>
                    <p>Index bloat detected - tablespace</p>
                  </div>
                  <div class="card-action">
                    <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
                    <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
                  </div>  </div>

                  <div class="item card green darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Recommended</span>
                      <p>db: banking1_pro</p>
                      <p>Index bloat detected</p>
                    </div>
                    <div class="card-action">
                      <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
                      <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
                    </div>  </div>

                    <div class="item card green darken-1">
                      <div class="card-content white-text">
                        <span class="card-title">Recommended</span>
                        <p>db: health2_pro</p>
                        <p>Last vacuum was 2 days ago</p>
                      </div>
                      <div class="card-action">
                        <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
                        <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
                      </div>  </div>

                      <div class="item card green darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">Recommended</span>
                          <p>db: health2_pro</p>
                          <p>Something wrong</p>
                        </div>
                        <div class="card-action">
                          <a href="#" class="white-text"><i class="material-icons mdi-action-visibility"></i></a>
                          <a href="#" class="white-text"><i class="material-icons mdi-content-clear"></i></a>
                        </div>  </div>

          </div>

        </div>     
        <div class="row">     
          <div id="chart-box" class="card white">
            <div class="card-header">
              <h5>Bar Chart title</h5>
              <div class="card-action simple">
                <a class='dropdown-button grey-text text-darken-3' href='#' data-activates='dropdown-actions'><i class="material-icons mdi-navigation-more-vert"></i></a>
                <ul id='dropdown-actions' class='dropdown-content'>
                  <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
                  <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
                  <li class="divider"></li>
                  <li ><a href="#!" class='grey-text text-darken-3'>Close</a></li>
                </ul>
              </div>    
            </div>  
            <div id="chart"></div>
          </div>
          <script>
var chart = c3.generate({
  bindto: '#chart',
  data: {
    columns: [
      ['data1', 30, 200, 100, 400, 150, 250],
      ['data2', 130, 100, 140, 200, 150, 50]
    ],
    type: 'bar'
  },
  bar: {
    width: {
      ratio: 0.5 // this makes bar width 50% of length between ticks
    }
           // or
           //width: 100 // this makes bar width 100px
  }
});
        </script>        </div>    
        <div class="row">
          <div class="col s4">
            <div id="chart-box" class="card white"> 
              <div class="card-header">
                <h5>Donut Chart title</h5>
                <div class="card-action simple">
                  <a class='dropdown-button grey-text text-darken-3' href='#' data-activates='dropdown-actions-2'><i class="material-icons mdi-navigation-more-vert"></i></a>
                  <ul id='dropdown-actions-2' class='dropdown-content'>
                    <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
                    <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
                    <li class="divider"></li>
                    <li ><a href="#!" class='grey-text text-darken-3'>Close</a></li>
                  </ul>
                </div>    
              </div>
              <div id="chart1"></div>
            </div>
            <script>
var chart = c3.generate({
  bindto: '#chart1',
  data: {
    columns: [
      ['data1', 30],
      ['data2', 120],
    ],
    type : 'donut',
    onclick: function (d, i) { console.log("onclick", d, i); },
    onmouseover: function (d, i) { console.log("onmouseover", d, i); },
    onmouseout: function (d, i) { console.log("onmouseout", d, i); }
  },
  donut: {
    title: "Nice donut chart"
  }
});
          </script>          </div>
          <div class="col s8">
            <div id="table-box" class="card white">
              <table class="bordered highlight">
                <div class="card-header">
                  <h5>Queries (live)</h5>
                  <p>A little description text</p>
                  <div class="card-action simple">
                    <a class='dropdown-button grey-text text-darken-3' href='#' data-activates='dropdown-actions-3'><i class="material-icons mdi-navigation-more-vert"></i></a>
                    <ul id='dropdown-actions-3' class='dropdown-content'>
                      <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
                      <li ><a href="#!" class='grey-text text-darken-3'>Option 1</a></li>
                      <li class="divider"></li>
                      <li ><a href="#!" class='grey-text text-darken-3'>Close</a></li>
                    </ul>
                  </div>    </div>
                  <thead>
                    <tr>
                      <th data-field="id">Name<span class="order-list"><i class="material-icons mdi-navigation-arrow-drop-up"></i><i class="material-icons mdi-navigation-arrow-drop-down"></i></span></th>
                      <th data-field="name">Total Time<span class="order-list"><i class="material-icons mdi-navigation-arrow-drop-up"></i><i class="material-icons mdi-navigation-arrow-drop-down"></i></span></th>
                      <th data-field="price">Average Time<span class="order-list"><i class="material-icons mdi-navigation-arrow-drop-up"></i><i class="material-icons mdi-navigation-arrow-drop-down"></i></span></th>
                      <th data-field="price">Calls<span class="order-list"><i class="material-icons mdi-navigation-arrow-drop-up"></i><i class="material-icons mdi-navigation-arrow-drop-down"></i></span></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>db: banking1_pro</td>
                      <td>0.20s</td>
                      <td>0.12s</td>
                      <td>119</td>
                    </tr>
                    <tr>
                      <td>db: health2_pre</td>
                      <td>0.50s</td>
                      <td>0.2s</td>
                      <td>449</td>
                    </tr>
                    <tr>
                      <td>db: banking1_pro</td>
                      <td>0.10s</td>
                      <td>0.22s</td>
                      <td>345</td>
                    </tr>
                    <tr>
                      <td>db: health2_pro</td>
                      <td>0.10s</td>
                      <td>0.22s</td>
                      <td>345</td>
                    </tr>
                  </tbody>
              </table>  
            </div>
          </div>
        </div> 
      </div> 

    </div>
    <%= render "pg_hero/layout/filters" %>
  </body>
</html>
